@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #404040;
    margin-top: 2rem;
    border-radius: 0.8rem;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 0.8rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #707070;
  }

  .shake-password-box::placeholder {
    color: #ff3737;
    font-size: large;
    font-weight: 500;
  }
  .shake-password-box {
    animation: shake 0.5s;
  }
  @keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(1px); }
    20% { transform: translateX(-1px); }
    30% { transform: translateX(1px); }
    40% { transform: translateX(-1px); }
    50% { transform: translateX(1px); }
    60% { transform: translateX(-1px); }
    70% { transform: translateX(1px); }
    80% { transform: translateX(-1px); }
    90% { transform: translateX(1px); }
    100% { transform: translateX(0); }
  }

  .shake-files-container-title {
    animation: shake2 2s;
  }
  @keyframes shake2 {
    0% { transform: translateY(0); }
    10% { transform: translateY(1px); }
    20% { transform: translateY(-1px); }
    30% { transform: translateY(1px); }
    40% { transform: translateY(-1px); }
    50% { transform: translateY(1px); }
    60% { transform: translateY(-1px); }
    70% { transform: translateY(1px); }
    80% { transform: translateY(-1px); }
    90% { transform: translateY(1px); }
    100% { transform: translateY(0); }
  }

  .progress-on {
    transform-origin: 0% 100%;
    animation: indeterminate 0.3s infinite linear;
  }
  @keyframes indeterminate {
    0% { transform: translateX(0) scaleX(0); }
    50% { transform: translateX(0) scaleX(0.5); }
    100% { transform: translateX(100%) scaleX(0.5); }
  }

  .shake-up-down {
    animation: shake2 2.5s infinite linear;
  }

  .wrong-password-shake {
    animation: shake2 1.3s infinite linear;
  }
}